body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  background-color: blue;
  color: aliceblue;
  margin: 0;
  text-align: center;
  padding: 10px;
}

.robot {
  width: 20vw;
  position: absolute;
  bottom: 120px;
  right: 20px;
}

.poze {
  height: 320px;
  width: calc(100% - 20vw - 20px);
  position: absolute;
  bottom: 120px;
  left: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.poze img {
  height: 300px;
  width: 20vw;
  object-fit: cover;
  display: inline-block;
  margin-right: 20px;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.poze img.prima {
  transform: scale(0.4);
  position: absolute;
  top: 0px;
  right: 74%;
}
.poze img.aDoua {
  transform: scale(0.6);
  position: absolute;
  top: 0;
  right: 45%;
}
.poze img.aTreia {
  transform: scale(1);
  position: absolute;
  top: 3%;
  right: 5%;
}
.poze img.aTreia.inRobot {
  transform: scale(0);
  right: calc(5% - 350px);
}
.poze img.aTreia.gunoi {
  transform: scale(0);
  top: calc(0% - 350px);
}

.buttons {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.buttons .button {
  font-size: 30px;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: aliceblue;
  display: none;

}

.modal.show{
    display: flex !important;
}

.modal .text {
    text-align: center;
    font-size: 22px;
}
